---
import HeaderScript from './script';

const { id = 'header', socials, links, actions } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
---
<header
    class="header"
    {...id ? { id } : {}}
>
    <HeaderScript client:load/>
    <div class="header__blur">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container grid">
        <div class="header__logo">
            <p class="header__greating">Good morning!</p>
            <h2 class="heading h5 header__name"><span class="fw-med cl-txt-title">Valentine</span> <span class="cl-txt-desc">Cheval</span></h2>
        </div>
        <div class="header__socials">
            <p class="cl-txt-title">Socials</p>
            {socials.map((el) =>
                <Fragment>/<a href={el.href} class="header__social">{el.text}</a></Fragment>)}
        </div>
        <div class="header__menu">
            {links.map((el, i) =>
                <Fragment><a href={el.href} class={`header__menu-link${pathname === el.href ? ' active': ''}`}>{el.text}</a>{i < (links.length) - 1 && '/'}</Fragment>)}
        </div>
        <a href="" class="txt-link cl-txt-title header__act" data-cursor-stick=".header__act-stick" data-cursor='-link'>
            <div id="sticker" class="header__act-stick"></div>
            {actions.text}
        </a>
        <button class="fs-16 cl-txt-title fw-med header__toggle">
            <span class="current">Menu</span>
            <span>Close</span>
        </button>
    </div>
    <div class="nav">
        <div class="container calc-h">
            <div class="nav__menu">
                {links.map((el, i) =>
                    <Fragment><a href={el.href} class={`heading h1 upper fw-semi nav__menu-link${pathname === el.href ? ' active': ''}`}>{el.text}</a></Fragment>)}
            </div>
            <div class="line"></div>
            <div class="nav__socials">
                <p class="cl-txt-title">Socials</p>
                {socials.map((el) =>
                    <Fragment>/<a href={el.href} class="nav__social">{el.text}</a></Fragment>)}
            </div>
            <a href="" class="heading h2 cl-txt-orange nav__act">{actions.text}</a>
        </div>
    </div>
</header>

<style lang="scss">
    @use '~/assets/styles/mixins' as *;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        width: 100%;
        padding-top: 4rem;

        display: flex;
        align-items: center;
        @include sm {
            padding-block: 2rem;
        }
        &.on-scroll {
            .header__blur {
                transform: translateY(-30%);
            }
        }
        > .container {
            z-index: 10;
            align-items: center;
        }
        &__logo {
            grid-column: 1/4;
            position: relative;
            overflow: hidden;
            display: grid;
            align-items: center;
        }
        &__greating {
            grid-area: 1/1/2/2;
            opacity: 0;
        }
        &__name {
            grid-area: 1/1/2/2;
            transform: translateY(100%);
            opacity: 0;
        }
        &__socials {
            grid-column: 9/11;

            display: flex;
            align-items: center;
            gap: 0 1.2rem;
            @include md {
                grid-column: 5/8;
            }
            @include sm {
                display: none;
            }
        }
        &__social {
            transition: color .4s ease-in-out;
            &.active,
            &:hover {
                @include tColor(title, dm);
                // pointer-events: none;
            }
        }
        &__menu {
            grid-column: 13/16;

            display: flex;
            align-items: center;
            gap: 0 1.2rem;
            @include md {
                grid-column: 8/11;
            }
            @include sm {
                display: none;
            }
            &-link {
                transition: color .4s ease-in-out;
                &.active,
                &:hover {
                    @include tColor(title, dm);
                    // pointer-events: none;
                }
            }
        }
        &__act {
            justify-self: end;
            margin-left: -2rem;
            &:hover {
                @media (hover:hover) {
                    color: var(--cl-orange);
                }
            }
            @include md {
                grid-column: 12/13;
            }
            @include sm {
                display: none;
            }
        }
        &__blur {
            position: absolute;
            z-index: 5;
            left: 0;
            top: 0;
            @include size(100%, 280%);
            transform-origin: left top;
            pointer-events: none;
            // opacity: 0;
            transform: translateY(-100%);
            transition: .8s transform ease;
            background: linear-gradient(0deg, rgb(0, 5, 15, 0) 0%, #00050f 89%);

            @include sm {
                @include size(100%, 150%);
                background: linear-gradient(0deg, rgb(0, 5, 15, 0) 0%, #00050f 100%);
            }
            > div {
                $gradient-core-cl: #000;

                position: absolute;
                inset: 0;
                &:nth-child(1) {
                    z-index: 2;
                    -webkit-backdrop-filter: blur(.1rem);
                    backdrop-filter: blur(.1rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 0%, $gradient-core-cl 12.5%, $gradient-core-cl 37.5%, rgba($gradient-core-cl, 0) 50%);
                }
                &:nth-child(2) {
                    z-index: 3;
                    -webkit-backdrop-filter: blur(.2rem);
                    backdrop-filter: blur(.2rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 12.5%, $gradient-core-cl 37.5%, $gradient-core-cl 50%, rgba($gradient-core-cl, 0) 62.5%);
                }
                &:nth-child(3) {
                    z-index: 4;
                    -webkit-backdrop-filter: blur(.4rem);
                    backdrop-filter: blur(.4rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 37.5%, $gradient-core-cl 50%, $gradient-core-cl 62.5%, rgba($gradient-core-cl, 0) 75%);
                }
                &:nth-child(4) {
                    z-index: 5;
                    -webkit-backdrop-filter: blur(.8rem);
                    backdrop-filter: blur(.8rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 50%, $gradient-core-cl 62.5%, $gradient-core-cl 75%, rgba($gradient-core-cl, 0) 87.5%);
                }
            }
        }
        &__toggle {
            display: none;
            position: relative;
            justify-self: end;
            overflow: hidden;
            @include sm {
                display: block;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                &.current {
                    opacity: 1;
                    position: relative;
                }
            }
        }
    }
    .nav {
        display: none;
        background-color: var(--cl-dm-bg);
        position: fixed;
        inset: 0;
        transform: translate(10%);
        opacity: 0;
        pointer-events: none;
        transition: transform .6s ease-in-out, opacity .5s ease-in-out .1s;
        @include sm {
            display: block;
        }
        &.active {
            transform: translate(0%);
            opacity: 1;
            pointer-events: auto;
            transition-delay: 0s;
        }
        > .container {
            display: flex;
            flex-direction: column;
        }
        &__menu {
            margin-top: 6.4rem;
            padding-block: 4rem;
            &-link {
                @include tColor(disable, dm);
                &.active {
                    @include tColor(title, dm);
                }
            }
        }
        &__socials {
            display: flex;
            padding-block: 2rem;
            gap: 0 1rem;
        }
        &__act {
            margin-top: auto;
            padding-bottom: 6svh;
        }
    }
</style>