---
import HeaderScript from './script';

const { id = 'header', socials, links, actions } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
---
<header
    class="header"
    {...id ? { id } : {}}
>
    <HeaderScript client:load/>
    <div class="header__blur">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container grid">
        <div class="header__logo">
            <p class="header__greating">Good morning!</p>
            <h2 class="heading h5 header__name"><span class="fw-med cl-txt-title">Valentine</span> <span class="cl-txt-desc">Cheval</span></h2>
        </div>
        <div class="header__socials">
            <p class="cl-txt-title">Socials</p>
            {socials.map((el) =>
                <Fragment>/<a href={el.href} class="header__social">{el.text}</a></Fragment>)}
        </div>
        <div class="header__menu">
            {links.map((el, i) =>
                <Fragment><a href={el.href} class={`header__menu-link${pathname === el.href ? ' active': ''}`}>{el.text}</a>{i < (links.length) - 1 && '/'}</Fragment>)}
        </div>
        <a href="" class="txt-link cl-txt-title header__act">{actions.text}</a>
    </div>
</header>

<style lang="scss">
    @use '~/assets/styles/mixins' as *;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        width: 100%;
        padding-top: 4rem;

        display: flex;
        align-items: center;
        &.on-scroll {
            .header__blur {
                opacity: 1;
            }
        }
        > .container {
            z-index: 10;
            align-items: center;
        }
        &__logo {
            grid-column: 1/4;
            position: relative;
            overflow: hidden;
            display: grid;
            align-items: center;
        }
        &__greating {
            grid-area: 1/1/2/2;
        }
        &__name {
            grid-area: 1/1/2/2;
            transform: translateY(100%);
            opacity: 0;
        }
        &__socials {
            grid-column: 9/11;

            display: flex;
            align-items: center;
            gap: 0 1.2rem;
        }
        &__menu {
            grid-column: 13/16;

            display: flex;
            align-items: center;
            gap: 0 1.2rem;
            transition: color .4s ease-in-out;
            &-link {
                transition: color .4s ease-in-out;
                &.active,
                &:hover {
                    color: var(--cl-dm-title);
                    // pointer-events: none;
                }
            }
        }
        &__act {
            justify-self: end;
            margin-left: -2rem;
        }
        &__blur {
            position: absolute;
            z-index: 5;
            left: 0;
            top: 0;
            @include size(100%, 280%);
            transform-origin: left top;
            pointer-events: none;
            transition: 1s transform cubic-bezier(.55,0,.1,1), 1s opacity cubic-bezier(.55,0,.1,1);
            transform: translateZ(0) translateY(-30%);
            opacity: 0;
            > div {
                $gradient-core-cl: #000;

                position: absolute;
                inset: 0;
                &:nth-child(1) {
                    z-index: 2;
                    -webkit-backdrop-filter: blur(.1rem);
                    backdrop-filter: blur(.1rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 0%, $gradient-core-cl 12.5%, $gradient-core-cl 37.5%, rgba($gradient-core-cl, 0) 50%);
                }
                &:nth-child(2) {
                    z-index: 3;
                    -webkit-backdrop-filter: blur(.2rem);
                    backdrop-filter: blur(.2rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 12.5%, $gradient-core-cl 37.5%, $gradient-core-cl 50%, rgba($gradient-core-cl, 0) 62.5%);
                }
                &:nth-child(3) {
                    z-index: 4;
                    -webkit-backdrop-filter: blur(.4rem);
                    backdrop-filter: blur(.4rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 37.5%, $gradient-core-cl 50%, $gradient-core-cl 62.5%, rgba($gradient-core-cl, 0) 75%);
                }
                &:nth-child(4) {
                    z-index: 5;
                    -webkit-backdrop-filter: blur(.8rem);
                    backdrop-filter: blur(.8rem);
                    -webkit-mask: linear-gradient(to top, rgba($gradient-core-cl, 0) 50%, $gradient-core-cl 62.5%, $gradient-core-cl 75%, rgba($gradient-core-cl, 0) 87.5%);
                }
            }
        }
    }
</style>