---
import Image from '~/components/common/Image.astro';
import TextTransClip from '~/components/common/TextTransClip';
let currentYear = new Date().getFullYear() % 100;
---
<section class="sc-about__hero">
    <div class="about__hero">
        <div class="container">
            <h1 class="upper about__hero-title grid">
                <span class="heading h1 fw-bold about__hero-title-txt">
                    <TextTransClip
                        startSelf={true}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}>Valentin </TextTransClip>
                </span>
                <span class="heading h1 cl-txt-orange fw-bold about__hero-title-txt">
                    <TextTransClip
                        startSelf={true}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}>Chavel<span class="heading h3 fw-semi cl-txt-title ver-align-top"> ®</span></TextTransClip>
                </span>
                <span class="heading h3 fw-semi upper about__hero-title-year">
                    <span class="cl-txt-disable">
                        <TextTransClip
                            startSelf={true}
                            client:visible={{ rootMargin: "100% 0% 100% 0%" }}>93</TextTransClip>
                    </span>
                    <span class="cl-txt-title">
                        <TextTransClip
                            startSelf={true}
                            client:visible={{ rootMargin: "100% 0% 100% 0%" }}>{currentYear}</TextTransClip>
                    </span>
                </spa>
            </h1>
            <div class="about__hero-info grid">
                <h2 class="heading h5 cl-txt-sub about__hero-main-intro">
                    I am a <br/> Head of Design that specializes in Finance
                </h2>
                <div class="grid-1-1 about__hero-main-img">
                    <Image
                        src={'~/assets/images/intro-portrait.jpg'}
                        widths={[400, 768, 1024, 2040]}
                        width={489}
                        height={686}
                        alt={'a man'}
                        layout="cover"
                        decoding="sync"
                        loading="eager"
                        class="img img-fill"
                    />
                    <Image
                        src={'~/assets/images/intro-portrait-blur.png'}
                        widths={[400, 768, 1024, 2040]}
                        width={489}
                        height={686}
                        alt={'a orange blur'}
                        layout="cover"
                        loading="lazy"
                        decoding="async"
                        class="img img-fill"
                    />
                </div>
                <p class="about__hero-sub-intro intro-1">
                    Over the years, I worked for some of the biggest actors in the fintech industry:
                    <br/><br/>
                    Derivatives exchanges like Liquid, BitMEX and other crypto companies like Bitcoin com.
                    <br/><br/>
                    I also ventured into web3 when joining Birthday Research the R&D department of Cake group, and helping them set up their ventures such as DefiMetaChain, Defichain, etc.
                </p>
                <p class="about__hero-sub-intro intro-2">
                    I also worked with tradiotionnal fintech, helping launch Gotyme Bank and leading all features about investment, stocks or crypto.
                </p>
                <div class="about__hero-sub-img">
                    <Image
                        src={'~/assets/images/about-intro-sub.jpg'}
                        widths={[400, 768, 1024, 2040]}
                        width={302}
                        alt={'a man'}
                        layout="cover"
                        loading="eager"
                        decoding="async"
                        class="img img-fill"
                        aspectRatio="1"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .sc-about__hero {}
    .about__hero {
        position: relative;
        z-index: 3;
        background-color: var(--cl-dm-bg);

        padding-top: 30rem;
        padding-bottom: 15.2rem;
        &-title {
            margin-bottom: 12rem;
            position: relative;
            // gap: 1rem 0;
            &-txt {
                line-height: .835em;
                &:nth-child(1) {
                    grid-column: 1/16;
                    grid-row: 1/2;
                    margin-left: 1.8rem;
                }
                &:nth-child(2) {
                    grid-column: 4/13;
                }
            }
            &-year {
                grid-column: 13/16;
                display: flex;
                flex-direction: column;
            }
        }
        &-info {
        }
        &-main {
            &-intro {
                grid-column: 4/7;
            }
            &-img {
                grid-column: 9/14;
                aspect-ratio: .7;
                width: 100%;
                max-height: 68.6rem;
                overflow: hidden;
                // background-color: var(--cl-orange);
                // img {
                //     opacity: 0;
                // }
            }
        }
        &-sub {
            &-intro {
                align-self: end;
                &.intro-1  {
                    grid-column: 4/7;
                    margin-right: -.5rem;
                }
                &.intro-2  {
                    grid-column: 9/12;
                }
            }
            &-img {
                grid-column: 14/17;
                aspect-ratio: 1;
                height: auto;
                overflow: hidden;
                margin-left: calc(var(--grid-gap) * -1);
            }
        }
    }
</style>