---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import Arrows from '~/components/common/Arrows.astro';
import TextBlurFading from '~/components/common/TextBlurFading';
import Marquee from '~/components/common/Marquee';
import IntroScript  from './script';
import BreakMutipleLine from '~/components/common/BreakMutipleLine.astro';

const { data } = Astro.props;
const companies = [
    "liquid",
    "gotyme-bank",
    "european-commission",
    "bitcoin",
    "defichan",
    "bitmex",
    "birthday-research",
    "babylons",
    "diag"
]
const awards = [
    { name: "Red Dot Design award", year: "2022", category: "Bitcoin and Crypto DeFi Wallet", logo: 'red-dot' },
    { name: "UX Design Award", year: "2022", category: "Bitcoin and Crypto DeFi Wallet", logo: 'ux-design' },
    { name: "Design for Asia award", year: "2022", category: "Bitcoin and Crypto DeFi Wallet", logo: 'dfa' },
    { name: "Creative Pool", year: "2022", category: "Bitcoin and Crypto DeFi Wallet", logo: 'red-dot' },
    { name: "UX Design Award", year: "2022", category: "Bitcoin and Crypto DeFi Wallet", logo: 'ux-design' }
]
---
<div class="home__intro-wrap">
    <section class="home__intro">
        <IntroScript client:visible={{ rootMargin: "100% 0% 100% 0%" }}/>
        <div class="home__intro-bg-gradient"></div>
        <div class="container grid">
            <div class="home__intro-companies">
                <h4 class="heading h5 cl-txt-title home__intro-companies-title">I've helped <br/>over 100 companies including</h4>
                <div class="home__intro-companies-listing">
                    {companies.map((ic) =>
                        <div class="home__intro-company">
                            <Icon name=`company/${ic}` class="home__intro-company-ic" />
                        </div>
                    )}
                    <div class="home__intro-company">
                    </div>
                </div>
            </div>
            <div class="home__intro-main">
                <div class="heading h4 home__intro-main-txt">
                    <TextBlurFading
                        triggerOpts = {{
                            start: 'top top+=50%',
                            end: 'bottom top+=50%'
                        }}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}
                        >
                            <span class="fs-24 home__intro-main-label">(intro)</span>
                            <BreakMutipleLine text={data.title}/>
                    </TextBlurFading>
                </div>
                <a href="#" class="btn btn-circle arrow-hover home__intro-btn">
                    <Arrows/>
                </a>
            </div>
            <div class="home__intro-portrait">
                <Image
                    src={'~/assets/images/intro-portrait.jpg'}
                    widths={[400, 768, 1024]}
                    width={183}
                    alt={'a man'}
                    layout="cover"
                    loading="lazy"
                    decoding="async"
                    aspectRatio="3:4"
                />
                <Image
                    src={'~/assets/images/intro-portrait-blur.png'}
                    widths={[400, 768, 1024]}
                    width={183}
                    alt={'a man'}
                    layout="cover"
                    loading="lazy"
                    decoding="async"
                    aspectRatio="3:4"
                />
            </div>
            <div class="home__intro-awards">
                <h3 class="heading h4 cl-txt-title upper home__intro-awards-title">Awards</h3>
                <div class="home__intro-awards-wrap">
                    <div class="home__intro-awards-listing">
                        {awards.map((award) =>
                            <div class="home__intro-award">
                                <div class="line"></div>
                                <p class="fs-24 cl-txt-desc home__intro-award-name">{award.name}</p>
                                <p class="cl-txt-disable home__intro-award-year">{award.year}</p>
                                <p class="cl-txt-disable home__intro-award-category">{award.category}</p>
                            </div>
                            <div class="home__intro-award-logo">
                                <Icon name={award.logo} />
                            </div>
                        )}
                    </div>
                </div>
            </div>
        </div>
        <div class="home__intro-service-wrap">
            <div class="home__intro-service">
                <div class="home__intro-service-marquee-wrap black">
                    <Marquee start="right" client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                        <div class="home__intro-service-marquee">
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    8 years of experience
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    senior designer
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    Over 100 customers
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                        </div>
                    </Marquee>
                </div>
                <div class="home__intro-service-marquee-wrap orange">
                    <Marquee start="left" client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                        <div class="home__intro-service-marquee">
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    Product Design
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    Brand design & Strategy
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                            <div class="home__intro-service-marquee-item">
                                <h3 class="heading h3 upper">
                                    Visual design
                                </h3>
                                <Icon name="asterisk" class="ic-32" />
                            </div>
                        </div>
                    </Marquee>
                </div>
            </div>
            <div class="home__intro-service-blur">
                <Image
                    src={'~/assets/images/intro-service-blur.png'}
                    widths={[400, 768, 1024]}
                    width={1511}
                    alt={'a orange blur'}
                    layout="cover"
                    loading="lazy"
                    decoding="async"
                    aspectRatio="1"
                />
            </div>
        </div>
    </section>
</div>


<style lang="scss" is:global>
    @use '~/assets/styles/mixins' as *;
    .home__intro {
        --padding-top: 31rem;

        position: relative;
        z-index: 3;

        // padding-top: var(--padding-top);
        margin-top: calc(-120vh - var(--padding-top));
        > .container {
            background-color: var(--cl-dm-bg);
        }
        &-main {
            grid-column: 9/-1;

            color: var(--cl-dm-title);

            position: relative;
            overflow: hidden;
            &-label {
                vertical-align: top;
                margin-right: 13rem;
            }
            &-txt {
                margin-bottom: 6rem;
            }

        }
        &-btn {
            @include size(10rem);
        }
        &-portrait {
            display: grid;
            grid-column: 15/-1;
            margin-top: -2.8rem;
            margin-bottom: 12rem;
            img {
                grid-area: 1/1/2/2;
            }
        }
        &-companies {
            grid-column: 1/7;
            grid-row: 1/4;

            // align-self: center;
            will-change: transform, opacity;
            &-title {
                max-width: 29.5rem;

                padding-block: 4rem;
                margin-bottom: 6rem;

                border-top: .1rem solid var(--cl-dm-border);
            }
            &-listing {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }
        &-company {
            width: 14.8rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba(255, 255, 255, 0.05);
            transition: background 0.4s ease-in-out;
            &:after {
                content: '';
                height: 0;
                padding-top: 100%;
            }
            &-ic {
                width: 10.9rem;
                height: auto;
                position: absolute;
                opacity: .3;
                transition: opacity 0.4s cubic-bezier(.74, .06, .4, .92);
            }

            &:hover {
                background-color: var(--cl-orange);
                .home__intro-company-ic {
                    opacity: 1;
                }
            }
            &:nth-child(2) {
                grid-row: 2/3;
            }
            &:nth-child(3),
            &:nth-child(4) {
                grid-row: 3/4;
            }
            &:nth-child(5),
            &:nth-child(6) {
                grid-row: 4/5;
            }
            &:nth-child(7),
            &:nth-child(8) {
                grid-row: 5/6;
            }
            &:nth-child(9) {
                grid-row: 6/7;
            }
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(9) {
                grid-column: 2/3;
            }
            &:nth-child(7),
            &:nth-child(10) {
                grid-column: 1/2;
            }
            &:nth-child(4),
            &:nth-child(8) {
                grid-column: 3/4;
            }
            &:nth-child(6) {
                grid-column: 4/5;
            }
            &:nth-child(10) {
                grid-column: 1/3;
            }
        }
        &-awards {
            grid-column: 9/-1;
            margin-bottom: 16rem;
            &-wrap {
                position: relative;
            }
            &-title {
                margin-bottom: 6rem;
            }
            &-listing {
                position: relative;
            }
        }
        &-award {
            display: grid;
            column-gap: 2rem;
            grid-template-columns: 51.32fr 10.49fr 38.19fr;
            align-items: center;

            padding-block: 2rem;
            border-top: 1px solid var(--cl-dm-border);

            position: relative;

            &-name {
                transition: color 1.333s cubic-bezier(.74, .06, .4, .92);
            }
            &-year {
                transition: color 1.333s cubic-bezier(.74, .06, .4, .92);
            }
            &-category {
                justify-self: end;
                transition: color 1.333s cubic-bezier(.74, .06, .4, .92);
            }

            &-logo {
                position: absolute;
                top: 50%;
                left: -12rem;

                color: var(--cl-orange);
                @include size(auto, 12rem);

                opacity: 0;
                transform: translate(-100%, -50%) scale(1.1);
                will-change: transform, opacity;

                transition: opacity 0.4s ease-in-out, transform 1.333s var(--spring-easing-2);
                svg {
                    height: 100%;
                    width: auto;
                }
            }

            .line {
                position: absolute;
                top: 0;
                left: 0;
                @include size(100%, .1rem);
                overflow: hidden;

                &:before,
                &:after {
                    --line-spacing: 1rem;

                    content: '';
                    position: absolute;
                    display: block;
                    inset: auto 0 0;
                    @include size(100%);
                    transition: transform .65s cubic-bezier(.6, 0, .3, 1) .15s;

                    @include sm {
                        height: 1px;
                    }
                }

                &:before {
                    opacity: 0;
                    left: 0;
                    background: #C4C4C4;
                    transition: transform .65s cubic-bezier(.6, 0, .3, 1), opacity .65s cubic-bezier(.6, 0, .3, 1) .05s;
                }

                &:after {
                    left: calc(-1 * var(--line-spacing));
                    opacity: .8;
                    transform: translateX(-100%);
                    background: #C4C4C4;
                    transition: transform .65s cubic-bezier(.6, 0, .3, 1) .2s;
                }
            }

            &:hover {
                .home__intro-award-name {
                    color: var(--cl-dm-title);
                }
                .home__intro-award-year {
                    color: var(--cl-dm-desc);
                }
                .home__intro-award-category {
                    color: var(--cl-dm-body);
                }
                + .home__intro-award-logo {
                    opacity: 1;
                    transform: translate(-100%, -50%) scale(1);
                }
                .line {
                    &:before {
                        opacity: 1;
                        transform: translateX(calc(100% + var(--line-spacing))) rotate(.01deg);
                    }

                    &:after {
                        transform: translateX(var(--line-spacing)) rotate(.01deg)
                    }
                }
            }
        }
        &-service {
            background-color: var(--cl-dm-bg);
            height: 53.5rem;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            contain: paint;
            position: relative;
            z-index: 3;
            &-wrap {
                position: relative;
            }
            &-marquee {
                display: flex;
                align-items: center;
                gap: 0 4rem;

                padding: 2.5rem 2rem;


                &-wrap {
                    transition: all .8s cubic-bezier(.74, .06, .4, .92);
                    grid-area: 1/1/2/2;
                    display: flex;
                    position: relative;
                    margin: 0 calc(var(--container-padding) * -1);
                    &.orange {
                        color: var(--cl-dm-title);
                        background-color: var(--cl-orange);
                        transform: rotate(9.139deg);
                        transform-origin: center;
                        z-index: 3;
                        &:hover {
                            .home__intro-service-marquee-wrap.black {
                                filter: blur(.7rem);
                            }
                        }
                    }
                    &.black {
                        background-color: black;
                        color: var(--cl-dm-desc);
                        transform: rotate(-5.831deg);
                        transform-origin: center;
                        filter: blur(.7rem);
                        z-index: 2;
                        &:hover {
                            filter: blur(0);
                            color: var(--cl-dm-title);
                            ~ .home__intro-service-marquee-wrap {
                                filter: blur(.7rem);
                            }
                        }
                    }
                }
                &-item {
                    display: flex;
                    align-items: center;
                    gap: 0 4rem;
                }
            }
            &-blur {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include size(151.1rem);
                z-index: 1;
                pointer-events: none;
            }
        }
        &-bg-gradient {
            position: relative;
            background-image: linear-gradient(to top, rgb(0, 5, 15), rgba(0, 5, 15, 0));
            height: var(--padding-top);
            width: 100%;
            left: 0;
            z-index: 3;
            pointer-events: none;
        }
    }
</style>
