---
import { getImage } from 'astro:assets';

import TextBlurFading from '~/components/common/TextBlurFading';

import Arrow from '~/icons/arrow-white.svg';
const ArrowIc = await getImage({ src: Arrow, format: "svg" });

const { socials, whatapps } = Astro.props;

---
<section class="sc__about-cta">
    <div class="about__cta">
        <div class="container">
            <div class="about__cta-head grid">
                <p class="fs-24 about__cta-head-label">(What do I bring you?)</p>
                <h4 class="heading h4 cl-txt-title about__cta-head-content">
                    <TextBlurFading
                        triggerOpts = {{
                            trigger: '.about__cta-head-content',
                            start: 'top bottom-=15%',
                            end: 'bottom center+=5%'
                        }}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                        Deep Understanding of
                        <br/>
                        trading and finacial products
                    </TextBlurFading>
                    <TextBlurFading
                        triggerOpts = {{
                            trigger: '.about__cta-head-content',
                            start: 'top bottom-=15%',
                            end: 'bottom center+=5%'
                        }}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                        Strong Experience
                        <br/>
                        working directly with engineers
                    </TextBlurFading>
                </h4>
            </div>
            <div class="about__cta-body grid">
                <div class="about__cta-body-contact">
                    <div class="about__cta-body-contact-item">
                        <p class="fw-med about__cta-body-label">Socials</p>
                        <div class="about__cta-body-social-listing">
                            {socials.map((social) =>
                                <a href={social.href} class="txt-link hover-un fw-med cl-txt-orange">{social.text}</a>
                            )}
                        </div>
                    </div>
                    <div class="about__cta-body-contact-item">
                        <p class="fw-med about__cta-body-label">Whatapps</p>
                        <a href={whatapps.href} class="txt-link hover-un fw-med cl-txt-orange">{whatapps.text}</a>
                    </div>
                </div>
                <div class="about__cta-body-main">
                    <p class="fw-med cl-txt-desc about__cta-body-label">Got a project in mind?</p>
                    <h4 class="fs-24 fw-reg cl-txt-sub">Let's make something happen together</h4>
                </div>
                <a href="mailto:hello@valentinecheval.design" class="heading h3 about__cta-body-email" data-cursor-img={ArrowIc.src}>
                    <div class="hover-multiple">
                        <div class="about__cta-body-email-inner">
                            hello<span class="cl-txt-orange">@</span><br/>valentinecheval.<br/>design
                        </div>
                    </div>
                </a>
                <a href="mailto:hello@valentinecheval.design" class="heading h2 about__cta-body-email mod-mb" data-cursor-img={ArrowIc.src}>hello<span class="cl-txt-orange">@</span><br/>valentine<br/>cheval.<br/>design</a>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;

    .sc__about-cta {}
    .about__cta {
        position: relative;
        z-index: 3;
        background-color: var(--cl-dm-bg);
        padding-bottom: 14.5rem;
        @include sm {
            padding-bottom: 5rem;
        }
        &-head {
            margin-bottom: 15rem;
            @include md {
                margin-bottom: 12rem;
            }
            @include sm {
                margin-bottom: 8rem;
            }
            &-label {
                grid-column: 5/8;
                @include md {
                    grid-column: 3/6;
                    @include text(16);
                    margin-bottom: 1.8rem;
                }
                @include sm {
                    grid-column: 1/-1;
                }
            }
            &-content {
                grid-column: 9/17;
                display: flex;
                flex-direction: column;
                gap: 6.2rem 0;
                margin-top: -.15em;
                @include md {
                    grid-column: 3/-1;
                    gap: 4.4rem 0;
                    @include text(h3);
                }
                @include sm {
                    grid-column: 1/-1;
                    gap: 3.2em 0;
                    @include text(h6);
                }
            }
        }
        &-body {
            &-label {
                margin-bottom: 2rem;
                @include md {
                    margin-bottom: 1.2rem;
                }
                @include sm {
                    margin-bottom: .8rem;
                }
            }
            &-contact {
                grid-column: 5/7;
                grid-row: 1/3;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include md {
                    grid-column: 3/5;
                }
                @include sm {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0 var(--grid-gap);
                    grid-column: 1/-1;
                    margin-bottom: 4rem;
                }
            }
            &-social {
                &-listing {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem 0;
                    @include md {
                        gap: 1rem 0;
                    }
                }
            }
            &-main {
                grid-column: 9/12;
                margin-bottom: 7.5rem;
                @include md {
                    grid-column: 6/10;
                    margin-right: calc(var(--grid-gap) * -1);
                }
                @include sm {
                    grid-column: 1/-1;
                    max-width: 25rem;
                    margin-bottom: 6rem;
                }
            }
            &-email {
                grid-column: 9/15;
                transition: color .4s ease-in-out;
                &.mod-mb {
                    display: none;
                    @include xs {
                        display: inline-block;
                    }
                }
                &-inner {
                    display: inline;
                }
                @include md {
                    grid-column: 6/-1;
                    @include text(h1);
                }
                @include sm {
                    // display: none;
                    grid-column: 1/-1;
                    @include text(h2);
                }
                @include xs {
                    display: none;
                }
                &:hover {
                    @include tColor(title, dm);
                }
            }
        }
    }
</style>