---
import BreakMultipleLine from "~/components/common/BreakMultipleLine.astro";
import Image from "~/components/common/Image.astro";
const { post } = Astro.props;
---
<section class="sc-post__hero">
    <div class="post-empty-block"></div>
    <div class="post__hero" data-cursor-text="Read">
        <div class=" grid-1-1 post__hero-cover">
            <div class="post__hero-cover-img">
                <Image
                    src={post.image}
                    class="img"
                    widths={[400, 900, 1024, 2040]}
                alt={post?.image.alt || `${post.title} project cover`}
                    width={1024}
                    height={620}
                    loading="eager"
                    decoding="sync"
                />
            </div>
            <div class="post__hero-cover-gradient"></div>
            <!-- <div class="post__hero-cover-blur">
                <Image
                    src={'~/assets/images/post-blur.png'}
                    alt="background blur"
                    class="img"
                    widths={[400, 900, 1024]}
                    width={1024}
                    height={620}
                    loading="eager"
                    decoding="sync"
                />
            </div> -->
        </div>
        <div class="post__hero-main">
            <div class="container grid">
                <h1 class="heading h2 upper fw-semi cl-txt-title post__hero-title">
                    <BreakMultipleLine text={post.title}/>
                </h1>
                <div class="post__hero-info">
                    <div class="post__hero-role">
                        <div class="cl-txt-desc fw-med post__hero-label">Role</div>
                        <div class="post__hero-role-listing">
                            {[...post.roles, '', '', ''].slice(0, 3).map((role) => <p class="cl-txt-sub">{role.title}</p>)}
                        </div>
                    </div>
                    <div class="post__hero-service">
                        <div class="cl-txt-desc fw-med post__hero-label">Services</div>
                        <div class="post__hero-service-listing">
                            {post.services.map((service) => <p class="cl-txt-sub">{service.title}</p>)}
                        </div>
                    </div>
                    <div class="post__hero-selling">
                        <div class="cl-txt-desc fw-med post__hero-label">Selling points</div>
                        <div class="post__hero-selling-listing">
                            {post.sellingPoints.map((point) => <p class="cl-txt-sub">{point.title}</p>)}
                        </div>
                    </div>
                    <p class="fw-med cl-txt-sub post__hero-year mod-tab">© {post.year}</p>
                </div>
                <div class="post__hero-bottom">
                    <p class="fs-20 fw-med cl-txt-sub post__hero-year">© {post.year}</p>
                    <p class="upper cl-txt-title post__hero-cta">(Scroll down)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;
    .sc-post__hero {
        position: relative;
        background-color: var(--cl-dm-bg);
    }
    .post {
        &-empty-block {
            height: 120vh;
        }
        &__hero {
            position: sticky;
            z-index: 3;
            background-color: var(--cl-dm-bg);
            height: 100vh;
            width: 100%;
            bottom: 0;
            overflow: hidden;
            &-cover {
                position: absolute;
                inset: 0;
                z-index: 2;
                @include md {
                    height: 72svh; //or 72vh
                    top: 0;
                    mask-image: linear-gradient(transparent,#fff 0,#fff calc(100% - 15svh), transparent);
                    -webkit-mask-image: linear-gradient(transparent,#fff 0,#fff calc(100% - 15svh), transparent);
                }
                @include sm {
                    height: 67svh;
                }
                &-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        object-position: top center !important;
                    }

                    @include size(100%);
                }
                &-blur {
                    @include size(100%);
                }
                &-gradient {
                    display: none;
                    position: relative;
                    z-index: 2;
                    background: linear-gradient(22deg, #00050f 16.32%, rgb(0, 5, 15, 0) 50%);
                    height: 31svh;
                    margin-top: auto;
                    @include md {
                        display: block;
                    }
                    @include sm {
                        height: 40svh;
                    }
                }
            }
            &-main {
                position: relative;
                z-index: 3;
                height: 100%;
                > .container {
                    height: 100%;
                    @include md {
                        // grid-template-rows: 1fr auto;
                    }
                }
                @include md {
                    padding-bottom: 5.7svh;
                }
                @include sm {
                    padding-bottom: 3.2svh;
                }
            }
            &-title {
                grid-column: 1/9;
                grid-row: 1/3;
                align-self: end;

                line-height: .835em;
                padding-bottom: 7.6vh;

                @include md {
                    @include text(dis1);
                    line-height: .835em;
                    padding-bottom: 0;
                    grid-row: 1/2;
                    grid-column: 1/-1;

                    padding-bottom: 22svh;
                }
                @include sm {
                    @include text(h1);
                    line-height: .835em;

                    padding-bottom: 28svh;
                    overflow-wrap: anywhere;
                }
                @include xs {
                    width: 95%;
                }
            }
            &-info {
                padding-top: 17.14vh;

                grid-column: 13/16;
                max-width: 28.5rem;

                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 7.4rem 0;
                @include md {
                    padding-top: 0;
                    grid-column: 1/10;
                    grid-row: 1/2;
                    display: grid;
                    align-self: end;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    max-width: unset;
                    gap: 5rem 8.5rem;
                }
                @include sm {
                    gap: 3.2rem 1.6rem;
                    grid-column: 1/-1;
                }
                @include xs {
                    @include text(14);
                }
            }
            &-selling {
                @include md {
                    grid-column: 2/3;
                }
                @include sm {
                    grid-column: 1/-1;
                }
            }
            &-year {
                @include md {
                    display: none;
                }
                &.mod-tab {
                    display: none;
                    @include md {
                        display: block;
                        grid-column: 1/2;
                        grid-row: 2/3;
                        align-self: end;
                    }
                    @include sm {
                        grid-column: 1/-1;
                        grid-row: 3/4;
                        justify-self: end;
                        margin-top: -2.5rem;
                    }
                }
            }
            &-label {
                margin-bottom: 1rem;
                @include xs {
                    @include text(14);
                }
                // opacity: 0;
            }
            &-bottom {
                grid-column: 13/17;
                align-self: end;
                padding-bottom: 9.2vh;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                @include md {
                    grid-column: 11/-1;
                    grid-row: 1/2;
                    padding-bottom: 0;
                }
                @include sm {
                    grid-column: 1/-1;
                }
            }
            &-cta {
                @include md {
                    @include text(14);
                }
                @include sm {
                    display: none;
                }
            }
        }
    }
</style>